.container p {
    max-width: 600px;
    text-align: left;
    justify-content: flex-start;
    width: 300px;
    color: #333;
    /* Dark text color */
}

.container img {
    max-width: 400px;
    height: auto;
    justify-content: center;
    border-radius: 5px;
    /* Rounded corners for images */
}